
/* Header*/
.main-header .logo a {
    font-size: 25px;
}

.main-menu li a {
    font-size: 10px;
    padding: 10px 8px;
}

.main-banner .caption h2 em {
    color: #4ADEDD;
}
 

.main-button a {
    background-color:#07032B;
}
